## Function/Method: 함수

In [2]:
# Basic fucntion
def greet(name):
  return f"Hello, {name}"
print(greet("Woo"))

Hello, Woo

In [4]:
# labmda
square = lambda x : x**2
print(square(5))

25

In [8]:
# variable arguments
# *args
def add(*args):
  return sum(args)

print(add(1,2,3,4))
# **kwargs
def introduce(**kwargs):
  print(type(kwargs))
  for key, value in kwargs.items():
    print(f"{key}: {value}")
introduce(name="Alice", age=30, city="Seoul")

10
<class 'dict'>
name: Alice
age: 30
city: Seoul

## Functional Programming
- `map()`
- `filter()`
- `reduce()`

In [12]:
# map
numbers = [1,2,3,4,5]
sqaures = list(map(lambda x: x**2, numbers))
print(sqaures)

# filter
numbers = [1,2,3,4,5]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

# reduce
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

[1, 4, 9, 16, 25]
[2, 4]
24

## Class 클래스
- class initilization
- class inheritance
- Magic Methods
- Operands Overloading

In [13]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return "Woof!"

# Instance aka Object
my_dog = Dog("Buddy", 3)
print(my_dog.name)
print(my_dog.bark())

Buddy
Woof!

In [15]:
# Inheritance
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        raise NotImplementedError("Subclass must implement abstract method")

class Dog(Animal): # Animal 상속
    def speak(self):
        return "Woof!"

class Cat(Animal): # Animal 상속
    def speak(self):
        return "Meow!"

animals = [Dog("Buddy"), Cat("Whiskers")]
for animal in animals:
    print(f"{animal.name} says {animal.speak()}")

Buddy says Woof!
Whiskers says Meow!

In [16]:
# Magic Methods
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def __str__(self):
        return f"{self.title} by {self.author}"

    def __repr__(self):
        return f"Book({self.title}, {self.author})"

my_book = Book("1984", "George Orwell")
print(str(my_book))
print(repr(my_book))

1984 by George Orwell
Book(1984, George Orwell)

In [17]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"Vector({self.x}, {self.y})"

v1 = Vector(2, 3)
v2 = Vector(5, 7)
v3 = v1 + v2
print(v3)

Vector(7, 10)

## Generator & Iterator
- Iterator: Turning an instance into an iterable object(class)
- Generator: Function that returns a generator object

In [20]:
# Iterator
class Counter:
    def __init__(self, max):
        self.max = max
        self.current = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < self.max:
            self.current += 1
            return self.current
        else:
            raise StopIteration

counter = Counter(5)

for num in counter:
    print(num)

1
2
3
4
5

In [22]:
# Generator
def count_up_to(max):
  count = 1
  while count <= max:
    yield count
    count+=1

counter = count_up_to(10)

for num in counter:
  print(num)


# yield -> return a value from a function and pause the execution until next() is called
def simple_generator():
    yield 1
    yield 2
    yield 3

gen = simple_generator()
print(next(gen))
print(next(gen))
print(next(gen))

1
2
3
4
5
6
7
8
9
10
1
2
3